<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self' 'unsafe-inline';"
    />

    <title>UDP Chat Client</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
  </head>
  <body>
    <h1>UDP Chat Client</h1>
    <div id="messages"></div>
    <div id="input-container">
      <input type="text" id="username" placeholder="Username" />
      <input type="text" id="message" placeholder="Message" />
      <button id="send">送信</button>
    </div>
    <script src="../js/chat.js"></script>
  </body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self' 'unsafe-inline';"
    />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
  <h1>UDP Chat Client</h1>
    <div id="roomInfo">
        <h2 id="roomNameDisplay"></h2>
        <h3 id="userNameDisplay"></h3>
    </div>
    <div id="messages"></div>
    <div id="input-container">
        <input type="text" id="message" placeholder="Type your message here...">
        <button id="send">Send</button>
    </div>
    <script src="../js/chat.js"></script>
</body>
</html>