body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

input[type="text"] {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}


#roomInfo {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
#messages {
    margin: 20px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}
#input-container {
    margin-top: 20px;
}